* {
  font-family: 'Poppins', sans-serif;
  color: #FFF9FB;
}

.color-gradient {
  border-radius: 0 0 39% 38%;
  height: 64rem;
  background: linear-gradient(180deg, #274D5F 0%, rgba(66, 112, 132, 0.76) 40.39%, rgba(75, 136, 162, 0.28) 80.79%);
}



