<div class="row bg-warning">
  <div class="col col-xs-12 col-sm-9 col-md-7 col-lg-6">
    <h1 class="display-3">Portas 1.0</h1>
    <p>O mais novo sistema operacional do mercado. Contendo uma interface amigável e recursos que te auxiliam no dia-a-dia.</p>
  </div>
  <div class="col-3 d-none d-sm-block col-sm-9 col-md-3">
    <svg class="" width="219" height="345" viewBox="0 0 219 345" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_2_63)">
      <line y1="-6" x2="313.419" y2="-6" transform="matrix(0.00795172 0.999968 -0.999977 0.00679888 2.00003 8.5983)" stroke="#264757" stroke-width="12"/>
      <path d="M209.912 4L209.912 338.138" stroke="#264757" stroke-width="12"/>
      <line x1="2.02691" y1="6.04119" x2="216.027" y2="7.00006" stroke="#264757" stroke-width="12"/>
      <path d="M208.143 332C195.762 325.148 51 257.633 51 257.633V9H205.326H211" stroke="#264757" stroke-width="12"/>
      <path d="M71.7821 139.953C71.7821 139.953 61.8133 136.497 61.8133 149.171C61.8133 161.846 71.7821 158.389 71.7821 158.389" stroke="#264757" stroke-width="8"/>
      </g>
      <defs>
      <filter id="filter0_d_2_63" x="3.05176e-05" y="0.041256" width="218.054" height="344.097" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="1"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_63"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_63" result="shape"/>
      </filter>
      </defs>
      </svg>
  </div>
</div>
