* {
  color: #FFF9FB;
}



.navbar-brand {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
}

ul.navbar-nav > li.nav-item > .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  padding-left: 3.2rem;
}

a.nav-link:hover, a.navbar-brand:hover {
  color: #264757;
}

li.nav-item > .nav-link.active{
  color:#FFF9FB !important;
}


